<div class="container" >

  <div class="mat-card">

    <div mat-dialog-title>
      <h1 i18n id='title_new_album'>Create New Album</h1>
    </div>

    <form [formGroup]="albumForm" (ngSubmit)="createAlbum(albumForm.value)">

      <mat-dialog-content class="mat-typography">

        <mat-form-field class="form__field">
          <mat-label i18n id='create_album_name' class="form__label"> Album Name *</mat-label>
          <input i18n-placeholder formControlName="name" matInput placeholder="Album Name" id="name">
          <mat-error i18n id='name_required' *ngIf="albumForm.get('name').hasError('required') && albumForm.get('name').touched"> Name required</mat-error>
        </mat-form-field>

        <mat-form-field class="form__field">
          <mat-label class="form__label" i18n id='album_release_date'> Release Date * </mat-label>
          <input i18n-placeholder matInput type="date"  formControlName="releaseDate" placeholder="Release Date">
          <mat-error  i18n id='release_date_required' *ngIf="albumForm.get('releaseDate').hasError('releaseDate') && albumForm.get('releaseDate').touched"> Date required </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field">
          <mat-label i18n id='album_description' class="form__label" color="primary" > Description * </mat-label>
          <input i18n-placeholder matInput id="description"  formControlName="description" placeholder="Album Description">
          <mat-error i18n id='album_description_required' *ngIf="albumForm.get('description').hasError('required') && albumForm.get('description').touched">
            Description required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field">
          <mat-label i18n id='album_genre' class="form__label"> Genre *</mat-label>
          <mat-select formControlName="genre">
            <mat-option *ngFor="let genre of genreKeys" [value]="genres[genre]"> {{genres[genre]}}
            </mat-option>
          </mat-select>
          <mat-error i18n id='album_genre_required'  *ngIf="albumForm.get('genre').hasError('required') && albumForm.get('genre').touched">Genre required </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field">
          <mat-label i18n id='album_label' class="form__label"> Record Label *</mat-label>
          <mat-select formControlName="recordLabel">
            <mat-option *ngFor="let record of recordKeys" [value]="records[record]"> {{records[record]}}
            </mat-option>
          </mat-select>
          <mat-error  i18n id='album_label_required' *ngIf="albumForm.get('recordLabel').hasError('required') && albumForm.get('recordLabel').touched">Label required </mat-error>
        </mat-form-field>

      </mat-dialog-content>

      <mat-dialog-actions align="end">
        <div class="button-row">
          <button i18n class="button-row__submit"  id="create_album_submit" mat-flat-button color="primary"  type="submit"  [disabled]="albumForm.invalid">Create</button>
          <button i18n mat-stroked-button id="create_album_cancel" color="warn" type="button"  (click)="cancelCreation()">Cancel</button>
        </div>
      </mat-dialog-actions>

    </form>
  </div>
</div>
