<div class="container">

  <div class="layout principal-layout">
    <div class="container d-flex align-items-center h-100">
      <div class="col-lg-6 text-center">
        <h1> <strong i18n id='main-title'>THE APP TO SHARE YOUR VINYL RECORDS</strong> </h1>
        <hr>
        <button i18n mat-raised-button color="accent" id="enter" aria-label="Enter"
        data-message="Boton de ingreso a la aplicación"  src=""  (click)="irDashboard()">ENTER</button>

      </div>
      <div class="col-lg-6 col text-center text-center  fondoMainLogo" >
        <div class="container d-flex align-items-center h-100 ">
          <div class="mx-auto logotipoContainer">
            <img src="../assets/LogoAppWhite.png" alt="Imagen logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
