<div class="container-fluid">
  <p class="h3 p-3">{{prizeDetail.name}}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" src="../assets/logoDefaultCard.jpg" alt="Shared Records Logo"/>
      </div>

    </div>
    <div class="col">
      <dl>
        <dt i18n id='award_name'> Name</dt>
        <dd>{{prizeDetail.name}}</dd>
        <dt i18n id='award_description'  class="bold">Description</dt>
        <dd>{{prizeDetail.description}}</dd>
        <dt i18n id='album_organization'>Organization</dt>
        <dd>{{prizeDetail.organization}}</dd>
      </dl>
    </div>
  </div>


</div>
